.treners {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #ffffff;
  padding: 120px 0;
  align-items: center;
}

.contentTreners {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* width: 1920px; */
  max-width: 1480px;
  margin-left: 0 auto;
  padding: 0 60px;
  align-items: flex-start;
  margin: 0 auto;
}
.scrollingTreners {
  display: flex;
  flex-direction: row;
  gap: 20px;
  overflow-x: auto;
  max-width: 1270px;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #c1c1c1 transparent;
}

.cards {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.titleOfTreners {
  font-size: 50px;
}

.imageOfTrener {
  max-width: 360px;
  max-height: 500px;
}

.nameOfTrener {
  font-size: 24px;
}
.post {
  font-size: 18px;
}
