.anket {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: #d52027;
  align-items: center;
}

.contentAnket {
  /* width: 100%; */
  margin: 100px auto;
  display: flex;
  /* align-items: center; */
  flex-direction: row;
  max-width: 1480px;
  width: 100%;
  padding-left: 250px;
}

.sale {
  font-size: 36px;
  color: #ffffff;
}

