.choiceOfPocket {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #ffffff;
  padding: 120px 0;
  align-items: center;
}

.contentChoiceOfPocket {
  width: 100%;
  /* max-width: 1480px; */
  margin: 0 auto;
  /* padding: 0 60px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainWordOfPocket {
  font-size: 50px;
  color: black;
}

.pockets {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.pocket {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 500px;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  border: 5px solid #e5e7eb;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  padding: 0px;
  text-align: center;
}

.pocket:hover {
  background-color: #141024;
  border-color: #d1d5db;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  transform: translateY(-5px);
}
.pocket:hover .name {
  color: #ffffff;
}

.pocket:hover .price {
  color: #ffffff;
}

.pocket:hover .description {
  color: #ffffff;
}

.name {
  font-size: 50px;
  color: black;
}

.price {
  font-size: 50px;
  color: black;
}

.description {
  font-size: 18px;
  word-wrap: break-word;
  hyphens: auto;
  max-width: 320px;
  color: black;
}

.bid {
  margin-bottom: 20px;
  width: 280px;
  height: 79px;
  background-color: #d52027;
  color: white;
}
