.resultOfSchool {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #ffffff;
  padding: 120px 0;
  align-items: center;
}

.contentResultOfSchool {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* width: 1920px; */
  max-width: 1480px;
  margin-left: 0 auto;
  padding: 0 60px;
  align-items: flex-start;
  margin: 0 auto;
}

.mainWordOfResult {
  font-size: 50px;
  padding: 16px 8px;
}

.blocksOfResult {
  display: flex;
  flex-direction: column;
  max-width: 410px;
}

.infoOfResults {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.titleOfResult {
  font-size: 24px;
  padding: 0px 8px;
}

.dicriptionOfResult {
  font-size: 18px;
  padding: 0px 8px;
}

