.discription {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #ffffff;
  padding-top: 120px 0;
  align-items: center;
}

.contentDiscription {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* width: 1920px; */
  margin: 120px auto;
  padding: 0 60px;
  align-items: flex-start;
  max-width: 1480px;
}