.scrollingTreners {
    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow-x: auto;
    max-width: 1270px;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #c1c1c1 transparent;
  }

  .cards {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  .titleOfTreners {
    font-size: 50px;
    color: black;
  }
  
  .imageOfTrener {
    max-width: 360px;
    max-height: 500px;
  }
  
  .nameOfTrener {
    font-size: 24px;
    color: black;
  }
  .post {
    font-size: 18px;
    color: black;
  }