.footer {
  background-color: #141024;
  width: 100%;
}

.contentFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 100px;
}

.mainWords {
  font-size: 30px;
  color: #ffffff;
  padding: 16px 8px;
}

.mail {
  font-size: 16px;
  color: #ffffff;
  padding: 16px 8px;
}

.number {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  color: #ffffff;
  margin-right: 100px;
  padding: 50px 8px;
}
