.discription {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #ffffff;
  padding-top: 120px 0;
  align-items: center;
}

.contentDiscription {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* width: 1920px; */
  margin: 120px auto;
  padding: 0 60px;
  align-items: flex-start;
  max-width: 1480px;
}

.newDiscription {
  font-size: 30px;
  max-width: 891px;
  color: black;
}

.stats {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.numbers {
  color: #d52027;
  font-size: 70px;
  padding: 16px 8px;
}
.discriptionForNumbers {
  font-size: 18px;
  font-weight: 400;
  max-width: 260px;
  color: black;
}
